aiohttp
aiosignal
async-timeout
attrs
blobfile
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dnspython
filelock
Flask
flask-caching
flask-login
fonttools
frozenlist
grpcio
grpcio-status
gunicorn
httplib2
huggingface-hub
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
langchain
lxml
MarkupSafe
matplotlib
msgpack
multidict
numpy
openai==0.27.2
packaging
pandas
Pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodomex
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rsa
scikit-learn
scipy
six
threadpoolctl
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
uritemplate
urllib3
Werkzeug
yarl
zipp